{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="content">
        <div class="columns large-6 large-centered">
            <h1><i class="fi-megaphone"></i> Aktion bearbeiten</h1>
            <div class="card">
                <div class="card-section">
                    {{ form_start(edit_form) }}
                        {{ form_row(edit_form.name) }}
                        {{ form_row(edit_form.description, {'label':'Beschreibung'}) }}
                        {{ form_row(edit_form.technical, {'label':'Techniker-Aktion'}) }}
                    <div class="subnav button-group">
                        <input class="button success" type="submit" value="speichern"/>
                        {{ form_end(edit_form) }}
                        <a class="button secondary" href="{{ path('manage_action_index') }}">zurück</a>
                        {{ form_start(delete_form) }}
                        <input class="button alert" type="submit" value="löschen" onclick="return confirm('Wollen Sie diese Aktion wirklich löschen?')">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
