{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column" id="content">
        <h1><i class="fi-megaphone"></i> Aktionen</h1>

        <ul class="tabs" data-tabs id="actions-tabs">
          <li class="tabs-title is-active"><a href="#technical" aria-selected="true">Techniker</a></li>
          <li class="tabs-title"><a data-tabs-target="admin" href="#admin">Leitstand</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="actions-tabs">
          <div class="tabs-panel is-active" id="technical">
            <table class="overview">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for action in actions if action.technical %}
                    <tr>
                        <td>{{ action.id }}</td>
                        <td>{{ action.name }}</td>
                        <td>{{ action.description }}</td>
                        <td>
                            <div class="subnav text-right">
                                <a href="{{ path('manage_action_edit', { 'id': action.id }) }}"><i class="fi-page-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="tabs-panel" id="admin">
            <table class="overview">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for action in actions if not action.technical %}
                    <tr>
                        <td>{{ action.id }}</td>
                        <td>{{ action.name }}</td>
                        <td>{{ action.description }}</td>
                        <td>
                            <div class="subnav text-right">
                                <a href="{{ path('manage_action_edit', { 'id': action.id }) }}"><i class="fi-page-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>

        <div class="subnav">
            <a class="button expanded large success" href="{{ path('manage_action_new') }}"><i class="fi-plus"></i> Aktion erstellen</i></a>
        </div>
    </div>
{% endblock %}
