{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="content">
        <div class="columns large-6 large-centered">
            <h1><i class="fi-megaphone"></i> Aktion erstellen</h1>
            <div class="card">
                <div class="card-section">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description, {'label':'Beschreibung'}) }}
                {{ form_row(form.technical, {'label':'Techniker-Aktion'}) }}
            <div class="subnav button-group">
                <input class="button success" type="submit" value="speichern" />
                <a class="button secondary" href="{{ path('manage_action_index') }}">zurück</a>
            </div>
            {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
