<script src="{{ asset('picker/picker.date.js') }}"></script>
<script type="text/javascript">
    jQuery('.datepicker').pickadate({
    monthsFull: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
    weekdaysFull: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
    weekdaysShort: ['Son', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
    showMonthsShort: undefined,
    showWeekdaysFull: undefined,

    // Buttons
    today: 'Heute',
    clear: 'Eingabe löschen',
    close: 'Schließen',

    // Accessibility labels
    labelMonthNext: 'Nächster Monat',
    labelMonthPrev: 'Vorheriger Monat',
    labelMonthSelect: 'Wählen Sie einen Monat aus',
    labelYearSelect: 'Wählen Sie ein Jahr aus',

    // Formats
    format: 'dd.mm.yyyy',
    formatSubmit: 'dd.mm.yyyy',
    hiddenPrefix: undefined,
    hiddenSuffix: '_submit',
    hiddenName: undefined,

    // Editable input
    editable: undefined,

    // Dropdown selectors
    selectYears: undefined,
    selectMonths: undefined,

    // First day of the week
    firstDay: 1,

    // Date limits
    min: undefined,
    max: undefined,

    // Disable dates
    disable: undefined,

    // Root picker container
    container: undefined,

    // Hidden input container
    containerHidden: undefined,

    // Close on a user action
    closeOnSelect: true,
    closeOnClear: true,

    // Events
    onStart: undefined,
    onRender: undefined,
    onOpen: undefined,
    onClose: undefined,
    onSet: undefined,
    onStop: undefined
});
</script>
