<script type="text/javascript">
var $collectionHolder;

// setup an "add a tag" link
var $addDocumentLink = $('<a href="#" class="add_document_link">Dokument hinzufügen</a>');
var $newLinkDiv = $('<span></span>').append($addDocumentLink);

jQuery(document).ready(function() {
    $collectionHolder = $('div.documents');

    $collectionHolder.append($newLinkDiv);

    $collectionHolder.find('.document').each(function() {
        //addDocumentFormDeleteLink($(this));
    });

    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addDocumentLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addDocumentForm($collectionHolder, $newLinkDiv);
    });

    function addDocumentForm($collectionHolder, $newLinkDiv) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        $collectionHolder.data('index', index + 1);

        var $newFormDiv = $('<div></div>').append(newForm);

        addDocumentFormDeleteLink($newFormDiv);
        $newLinkDiv.before($newFormDiv);
    }

    function addDocumentFormDeleteLink($documentFormDiv) {
        var $removeFormA = $('<a href="#">delete</a>');
        $documentFormDiv.append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();

            $documentFormDiv.remove();
        });
    }
});
</script>
