<div class="card">
    <div class="card-section">
    <div id="legend" class="row">
        <br>
        <h3 class="subheader">Legende</h3>
        <hr>
        <div class="columns float-left">
            <ul class="no-bullet">
                <li><span class="status InTime"></span> Event wurde ordnungsgemäß gemeldet</li>
                <li><span class="status Delayed"></span> Event wurde zu spät gemeldet</li>
                <li><span class="status Failed"></span> Event wurde gar nicht gemeldet</li>
                <li><span class="status important Yes"></span> Achtung, Event ist als wichtig markiert</li>
            </ul>
        </div>
        <div class="columns float-left">
            <ul class="no-bullet">
                <li><span class="status inspector Yes"></span> 1. Aktion wurde bereits quittiert</li>
                <li><span class="status inspector No"></span> 1. Aktion wurde noch nicht quittiert</li>
                <li><span class="status inspectorTechnical Yes"></span> 1. Techniker-Aktion wurde bereits quittiert</li>
                <li><span class="status inspectorTechnical No"></span> 1. Techniker-Aktion wurde noch nicht quittiert</li>
                <li><span class="status inspectorSecond Yes"></span> 2. Aktion wurde bereits quittiert</li>
                <li><span class="status inspectorSecond No"></span> 2. Aktion wurde noch nicht quittiert</li>
                <li><span class="status inspectorTechnicalSecond Yes"></span> 2. Techniker-Aktion wurde bereits quittiert</li>
                <li><span class="status inspectorTechnicalSecond No"></span> 2. Techniker-Aktion wurde noch nicht quittiert</li>
            </ul>
        </div>
        <div class="columns">
            <ul class="no-bullet last">
                <li><span class="status comments Yes"></span> wurde kommentiert</li>
                <li><span class="status commentsTechnical Yes"></span> wurde vom Techniker kommentiert</li>
            </ul>
        </div>
        <div class="columns">
            <ul class="no-bullet last">
                <li><span class="status eventRepeat Yes"></span> wiederkehrendes Event</li>
                <li><span class="status eventDue Yes"></span> Event mit von-bis Datum</li>
            </ul>
        </div>
    </div>
</div>
</div>