<script src="{{ asset('picker/picker.time.js') }}"></script>
<script type="text/javascript">
jQuery('.timepicker').pickatime({
    clear: 'Eingabe löschen',

    // Formats
    format: 'H:i',
    formatLabel: function(time) {
        return  'H:i'
      },
    formatSubmit: 'H:i',
    hiddenPrefix: undefined,
    hiddenSuffix: '_submit',

    // Editable input
    editable: undefined,

    // Time intervals
    interval: 5,

    // Time limits
    min: [0,0],
    max: false,

    // Root picker container
    container: undefined,

    // Hidden input container
    containerHidden: undefined,

    // Close on a user action
    closeOnSelect: true,
    closeOnClear: true,

    // Events
    onStart: undefined,
    onRender: undefined,
    onOpen: undefined,
    onClose: undefined,
    onSet: undefined,
    onStop: undefined
});
</script>
