<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SVG Web{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="stylesheet" href="{{ asset('picker/themes/default.css') }}">
        <link rel="stylesheet" href="{{ asset('picker/themes/default.date.css') }}">
        <link rel="stylesheet" href="{{ asset('picker/themes/default.time.css') }}">
    </head>
    <body>
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
          {% include 'partials/legend.html.twig' %}
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <!-- Start Top Bar -->
        <div data-sticky-container>
            <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text"><a href="/"><img id="logo" src="{{ asset('WVV_logo_standard.svg') }}" /></a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('calendar') }}" class="{% if app.request.attributes.get('_route') == 'calendar' %}active{% endif %}">Kalender</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_EVENT_CLERK') or is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('manage_event_index') }}" class="{% if app.request.attributes.get('_route') == 'manage_event_index' %}active{% endif %}">Events</a></li>
                        <li><a href="{{ path('manage_location_index') }}" class="{% if app.request.attributes.get('_route') == 'manage_location_index' %}active{% endif %}">Locations</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('manage_user_index') }}" class="{% if app.request.attributes.get('_route') == 'manage_user_index' %}active{% endif %}">Benutzer</a></li>
                        {% endif %}
                        <li><a class="menu__logout" href="{{ path('logout') }}"><i class="fi-power"></i></a></li>
                    </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <div class="page-container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('AppBundle:Default:popup')) }}
            {{ render(controller('AppBundle:Default:adminPopup')) }}
        {% endif %}
        {% block body %}{% endblock %}
    </div>
</div>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
<script src="{{ asset('picker/picker.js') }}"></script>
{% include 'partials/datepicker_js.html.twig' %}
{% include 'partials/timepicker_js.html.twig' %}
</body>
</html>
