{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="content">
        <h1><i class="fi-marker"></i> Location bearbeiten</h1>
        <div class="callout secondary">
            {{ form_start(edit_form) }}
            <div class="row" data-equalizer="location">
                <div class="columns large-8">
                    <div class="card" data-equalizer-watch="location">
                        <div class="card-section">
                            {{ form_row(edit_form.group, {'label':'Location-Gruppe'}) }}
                            {{ form_row(edit_form.description, {'label':'Beschreibung'}) }}
                            <div class="card">
                                <div class="card-section">
                                    <div class="documents" data-prototype="{{ form_widget(edit_form.documents.vars.prototype)|e('html_attr') }}">
                                      {% for document in edit_form.documents.children %}
                                        <div class="document">
                                          {{ form_row(document.file, { 'attr': { 'class': 'hide' }}) }}
                                          {{ document.vars.value.file }}
                                        </div>
                                      {% endfor %}
                                      {{ form_widget(edit_form.documents, { 'attr': { 'class': 'hide' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns large-4" data-equalizer-watch="location">
                    <div class="card">
                        <div class="card-section">
                            <div class="row column">
                                {{ form_row(edit_form.name) }}
                            </div>
                            <div class="row column">
                                {{ form_row(edit_form.contactPerson, {'label':'Ansprechpartner'}) }}
                            </div>
                            <div class="row">
                                <div class="columns large-7">
                                    {{ form_row(edit_form.street, {'label':'Straße'}) }}
                                </div>
                                <div class="columns large-5">
                                    {{ form_row(edit_form.houseNumber, {'label':'Hausnummer'}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns large-7">
                                    {{ form_row(edit_form.zip, {'label':'PLZ'}) }}
                                </div>
                                <div class="columns large-5">
                                    {{ form_row(edit_form.state, {'label':'Bundesland'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-section">
                            <div class="row">
                                <div class="columns large-5">
                                    {{ form_row(edit_form.dialingCode, {'label':'Vorwahl'}) }}
                                </div>
                                <div class="columns large-7">
                                    {{ form_row(edit_form.phoneNumber, {'label':'Telefon'}) }}
                                </div>
                                <div class="columns large-12">
                                    {{ form_row(edit_form.email, {'label':'E-Mail'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subnav button-group">
                <a class="button secondary" href="{{ path('manage_location_index') }}">zurück</a>
                <input class="button success" type="submit" value="speichern" />
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <input class="button alert" type="submit" value="löschen" onclick="return confirm('Wollen Sie diese Location wirklich löschen?')">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% include 'partials/documents_js.html.twig' %}
{% endblock %}
