{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column" id="content">
        <h1><i class="fi-marker"></i> Locations</h1>
        <div class="row column column-block">
            <nav class="hover-underline-menu" data-menu-underline-from-center>
                <ul class="menu align-center">
                    <li><a href="/manage/locationgroup/"><i class="fi-page-multiple"></i> Location-Gruppen</a></li>
                </ul>
            </nav>
        </div>
        {% for group in groups %}
            <div class="card">
                <div class="card-section">
                    <h2>{{ group.name }}</h2>
                    <table class="overview hover">
                    {% for location in locations %}
                        {% if location.group == group %}
                            <tr>
                                <td class="name">{{ location.name }}</td>
                                <td class="location" >{{ location.street }} | {{ location.zip }} {{ location.state }}</td>
                                <td class="actions">
                                    <div class="subnav text-right">
                                        <a href="{{ path('manage_location_show', { 'id': location.id }) }}"><i class="fi-magnifying-glass"></i></a>
                                        <a href="{{ path('manage_location_edit', { 'id': location.id }) }}"><i class="fi-page-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-section">
                <h2>Keine Zuordnung</h2>
                <table class="overview hover">
                {% for location in locations if location.group is empty %}
                        <tr>
                            <td class="name">{{ location.name }}</td>
                            <td class="location" >{{ location.street }} | {{ location.zip }} {{ location.state }}</td>
                            <td class="actions">
                                <div class="subnav text-right">
                                    <a href="{{ path('manage_location_show', { 'id': location.id }) }}"><i class="fi-magnifying-glass"></i></a>
                                    <a href="{{ path('manage_location_edit', { 'id': location.id }) }}"><i class="fi-page-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                {% endfor %}
                </table>
            </div>
        </div>

        <ul class="subnav">
            <li>
                <a class="button expanded large success" href="{{ path('manage_location_new') }}"><i class="fi-plus"></i> Location erstellen</a>
            </li>
        </ul>
    </div>
{% endblock %}
