{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column" id="content">
        <h1><i class="fi-marker"></i> Location erstellen</h1>
        <div class="callout secondary">
            {{ form_start(form) }}
            <div class="row" data-equalizer="location">
                <div class="columns large-8">
                    <div class="card" data-equalizer-watch="location">
                        <div class="card-section">
                            {{ form_row(form.group, {'label':'Location-Gruppe'}) }}
                            {{ form_row(form.description, {'label':'Beschreibung'}) }}
                            <div class="card">
                                <div class="card-section">
                                    <div class="documents" data-prototype="{{ form_widget(form.documents.vars.prototype)|e('html_attr') }}">
                                      {% for document in form.documents.children %}
                                        <div class="document">
                                          {{ form_row(document.file) }}
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns large-4" data-equalizer-watch="location">
                    <div class="card">
                        <div class="card-section">
                            <div class="row column">
                                {{ form_row(form.name) }}
                                {{ form_row(form.contactPerson, {'label':'Ansprechpartner'}) }}
                            </div>
                            <div class="row">
                                <div class="columns large-7">
                                    {{ form_row(form.street, {'label':'Straße'}) }}
                                </div>
                                <div class="columns large-5">
                                    {{ form_row(form.houseNumber, {'label':'Hausnummer'}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns large-7">
                                    {{ form_row(form.zip, {'label':'PLZ'}) }}
                                </div>
                                <div class="columns large-5">
                                    {{ form_row(form.state, {'label':'Bundesland'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-section">
                            <div class="row">
                                <div class="columns large-5">
                                    {{ form_row(form.dialingCode, {'label':'Vorwahl'}) }}
                                </div>
                                <div class="columns large-7">
                                    {{ form_row(form.phoneNumber, {'label':'Vorwahl'}) }}
                                </div>
                                <div class="columns large-12">
                                    {{ form_row(form.email, {'label':'E-Mail'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subnav button-group">
                <input class="button success" type="submit" value="speichern" />
                <a class="button secondary" href="{{ path('manage_location_index') }}">zurück</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% include 'partials/documents_js.html.twig' %}
{% endblock %}
