{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="content">

        <div class="row">
            <div class="columns large-10 small-centered">
                <h1><i class="fi-marker"></i> {{ location.name }}</h1>
                <div class="card">
                    <div class="card-divider">
                        <span>Id: {{ location.id }}</span>
                    </div>
                    <div class="card-section">
                        <div class="row">
                            <div class="columns large-7">
                                <div class="card">
                                    <div class="card-section">
                                        Beschreibung:<br>
                                        {{ location.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="columns large-5">
                                <p>{{ location.street }} {{ location.houseNumber }}<br>
                                    {{ location.zip }} {{ location.state }}</p>
                                <p>{{ location.dialingCode }} - {{ location.phoneNumber }}<br>
                                    {{ location.email }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns large-7">
                                <div class="card">
                                    <div class="card-section">
                                        <h6>Location Dateien</h6>
                                        {% if location.documents %}
                                        <ul class="no-bullet">
                                            {% endif %}
                                            {% for document in location.documents %}
                                                <li><a href="/upload/{{ document.file }}">{{ document.file }}</a></li>
                                            {% endfor %}
                                            {% if location.documents %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subnav button-group">
                            <a class="button secondary" href="{{ path('manage_location_index') }}">zurück</a>
                            <a class="button success" href="{{ path('manage_location_edit', { 'id': location.id }) }}">bearbeiten</a>
                            {{ form_start(delete_form) }}
                            <input class="button alert" type="submit" value="löschen">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
