{% if events is not empty %}
  <div class="row column">
    <div class="callout small popup popup--admin" data-closable>
        {{ events|length }} Event{% if events|length > 1 %}s sind{% else %} ist{% endif %} noch nicht freigegeben und starte{% if events|length > 1 %}t{% else %}n{% endif %} in unter 60 Minuten:<br>
        {% for event in events %}
          <div>
            <a href="{{ path('show_event', { 'id': event.id }) }}">"{{event.location.state}} - {{event.location.name }} - {{event.name}}" freigeben</a>
          </div>
        {% endfor %}
    </div>
  </div>
{% endif %}

