{% extends 'base.html.twig' %}

{% block body %}
<div class="row column calendar_view" id="content">
    <div class="row column">

        <nav class="hover-underline-menu" data-menu-underline-from-center>
            <ul class="menu align-center">
                <li>
                    <a {% if is_granted('ROLE_ADMIN') %}href="{{ path('toggle_technical') }}"{% endif %} class="{% if onlyTechnical %}active{% endif %}">Technische Events</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row column">
        <div id="calendar">
            <div id="calendar__header" class="row">
                <div class="span5 columns medium-4"><a href="{{ calendar.prev_url }}">{{ calendar.prev_month }}</a></div>
                <div class="span6 columns medium-4"><h4><i class="fi-calendar"></i> {{ calendar.current_month }}/{{ calendar.current_year }}</h4></div>
                <div class="span5 columns medium-4"><a href="{{ calendar.next_url }}">{{ calendar.next_month }}</a></div>
            </div>
            <div id="calendar__sub" class="row column">
                <a href="{{ path('show_daily_events', {'dateTime': "now"|date("Y-m-d") })}}">Heutige Events</a>
            </div>
            <div class="row column medium-up-7">
                {% for weekday in calendar.weekdays %}
                    <div class="columns column-block"><h6>{{ weekday }}</h6></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for week in calendar.weeks %}
        <div class="week row column medium-up-7">
            {% for day in week.days %}
                <div class="day {{ day.today_class }} columns {{ day.past_class }} column-block">
                    {% if not day.blank %}
                        <h6 class="day-item">{{ day.number }}</h6>
                        <h5 class="day-eventCount">
                            <a href="{{ path('show_daily_events', {'dateTime': calendar.current_year ~'-'~ calendar.current_month ~'-'~ day.number }) }}">{{ day.eventCount }} </a>
                        </h5>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% endblock %}
