{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column" id="content">
        <h1>Events am {{ date|date('d.m.Y') }}</h1>
        {% for event in events if event.approved == 1 %}
            {% set technicalComments = [] %}
            {% set comments = [] %}
            {% for comment in event.comments %}
                {% if comment.technical %}
                    {% set technicalComments = technicalComments|merge([comment]) %}
                {% else %}
                    {% set comments = comments|merge([comment]) %}
                {% endif %}
            {% endfor %}
            <table class="overview">
                <tbody>
                <tr>
                    <td>
                        {{ event.id }} <a class="" href="{{ path('show_event', { 'id': event.id }) }}"><span class="important {% if event.important %}Yes{% else %}No{% endif %}">{{event.location.state}} - {{event.location.name }} - {{event.name}}</span> <span class="status {{ event.sender.status }}"></span> <span class="status important {% if event.important %}Yes{% else %}No{% endif %}"></span></a>
                    </td>
                    <td>
                        beginnt {{ event.startDate|date('d.m.Y') }}
                        <span class="status eventRepeat {% if event.type == 'recurring' %}Yes{% else %}No{% endif %}"></span>
                        <span class="status eventDue {% if event.type != 'recurring' %}Yes{% else %}No{% endif %}"></span>
                    </td>
                    <td>
                        <span class="status inspector {% if event.inspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status inspectorSecond {% if event.secondInspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status inspectorTechnical {% if event.technicalInspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status inspectorTechnicalSecond {% if event.secondTechnicalInspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status comments {% if comments|length > 0 %}Yes{% else %}No{% endif %}"></span>
                        <span class="status commentsTechnical {% if technicalComments|length > 0 %}Yes{% else %}No{% endif %}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
        <table class="overview">
          {% set notapprovedEvents = [] %}
          {% for event in events if event.approved != 1 %}
            {% set notapprovedEvents = notapprovedEvents|merge([event]) %}
          {% endfor %}
          {% if notapprovedEvents|length > 0 %}
            <thead>
            <th colspan="4" class="text-center">
                <div class="warning callout small">
                    <p>Noch nicht freigegebene Events</p>
                </div>
            </th>
            </thead>
          {% endif %}
            <tbody>
            {% for event in events if event.approved != 1 %}
                {% set technicalComments = [] %}
                {% set comments = [] %}
                {% for comment in event.comments %}
                    {% if comment.technical %}
                        {% set technicalComments = technicalComments|merge([comment]) %}
                    {% else %}
                        {% set comments = comments|merge([comment]) %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_EVENT_CLERK')) %}
                            <a href="{{ path('show_event', { 'id': event.id }) }}">{{ event.id }} <span class="important {% if event.important %}Yes{% else %}No{% endif %}">{{event.location.state}} - {{event.location.name }} - {{event.name}}</span></a>
                        {% else %}
                        {{event.location.state}} - {{event.location.name }} - {{event.name}}
                        {% endif %}
                    </td>
                    <td>
                        beginnt {{ event.startDate|date('d.m.Y') }}
                        <span class="status eventRepeat {% if event.type == 'recurring' %}Yes{% else %}No{% endif %}"></span>
                        <span class="status eventDue {% if event.type != 'recurring' %}Yes{% else %}No{% endif %}"></span>
                    </td>
                    <td>
                        <span class="status {{ event.sender.status }}"></span>
                        <span class="status important {% if event.important %}Yes{% else %}No{% endif %}"></span>
                        <span class="status inspector {% if event.inspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status inspectorSecond {% if event.secondInspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status inspectorTechnical {% if event.technicalInspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status inspectorTechnicalSecond {% if event.secondTechnicalInspector %}Yes{% else %}No{% endif %}"></span>
                        <span class="status comments {% if comments|length > 0 %}Yes{% else %}No{% endif %}"></span>
                        <span class="status commentsTechnical {% if technicalComments|length > 0 %}Yes{% else %}No{% endif %}"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="button warning float-right small" data-toggle="offCanvasRight">Legende</button>
    </div>
{% endblock %}
