{% extends 'base.html.twig' %}

{% block body %}

    <div class="row" id="content">
        <div class="columns large-10 small-centered">
            <h1><i class="fi-torso"></i> Benutzer bearbeiten</h1>
            <div class="callout secondary">
                {{ form_start(edit_form) }}
                <div class="row" data-equalizer="user">
                    <div class="columns large-8">
                        <div class="card">
                            <div class="card-section" data-equalizer-watch="user">
                                {{ form_row(edit_form.name) }}
                                {{ form_row(edit_form.username, {'label':'Benutzername'}) }}
                                {{ form_row(edit_form.plainPassword, {'label':'Passwort'}) }}
                                {{ form_row(edit_form.telephone, {'label':'Telefon'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="columns large-4">
                        <div class="card">
                            <div class="card-section" data-equalizer-watch="user">
                                {{ form_row(edit_form.department, {'label':'Abteilung'}) }}
                                {{ form_row(edit_form.active, {'label':'Aktiv'}) }}
                                {{ form_row(edit_form.groups, {'label':'Gruppe'}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subnav button-group">
                    <input class="button success" type="submit" value="speichern" />
                    {{ form_end(edit_form) }}
                    <a class="button secondary" href="{{ path('manage_user_index') }}">zurück</a>
                    {{ form_start(delete_form) }}
                    <input class="button alert" type="submit" value="löschen" onclick="return confirm('Wollen Sie diesen Benutzer wirklich löschen?')">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
