{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column" id="content">
        <h1><i class="fi-torso"></i> Benutzer</h1>

        <table class="overview">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Aktiv</th>
                    <th>Benutzername</th>
                    <th>Telefon</th>
                    <th>Abteilung</th>
                    <th>Gruppe</th>
                    <th class="text-right">Aktionen</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{% if user.active %}Ja{% else %}Nein{% endif %}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.department }}</td>
                    <td>{% for group in user.groups %}{{ group.description }}{% if user.groups|length > 1 and not loop.last %},{% endif %} {% endfor %}</td>
                    <td>
                        <div class="subnav text-right">
                            <a href="{{ path('manage_user_show', { 'id': user.id }) }}"><i class="fi-magnifying-glass"></i></a>
                            <a href="{{ path('manage_user_edit', { 'id': user.id }) }}"><i class="fi-page-edit"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="subnav">
            <a class="button expanded large success" href="{{ path('manage_user_new') }}"><i class="fi-plus"></i> Benutzer erstellen</i></a>
        </div>
    </div>
{% endblock %}
