{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="content">
        <div class="columns large-6 small-centered">
        <h1><i class="fi-torso"></i> {{ user.id }}</h1>

        <div class="card">
            <div class="card-divider">
                Aktiv: {% if user.active %}Yes{% else %}No{% endif %}
            </div>
            <div class="card-section">
                <table>
                    <tbody>
                        <tr>
                            <th class="text-left">Benutzername</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Telefon</th>
                            <td>{{ user.telephone }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Abteilung</th>
                            <td>{{ user.department }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Rollen</th>
                            <td>{% for group in user.groups %}{{ group.description }}{% endfor %}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="subnav button-group">
                    <a class="button secondary" href="{{ path('manage_user_index') }}">zurück</a>
                    <a class="button success" href="{{ path('manage_user_edit', { 'id': user.id }) }}">bearbeiten</a>
                    {{ form_start(delete_form) }}
                    <input class="button alert" type="submit" value="löschen">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>

        </div>
    </div>
{% endblock %}
