{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column" id="content">
        <h1><i class="fi-clock"></i> Events</h1>
        <div class="row column column-block">
            <nav class="hover-underline-menu" data-menu-underline-from-center>
                <ul class="menu align-center">
                    <li><a href="/manage/action/"><i class="fi-megaphone"></i> Aktionen</a></li>
                </ul>
            </nav>
        </div>
        <div class="row column">
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            {{ form_end(filter_form) }}
            <table class="overview">
                <!-- <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Datum</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead> -->
                <tbody>
                {% for event in events %}
                    {% set technicalComments = [] %}
                    {% set comments = [] %}
                    {% for comment in event.comments %}
                        {% if comment.technical %}
                            {% set technicalComments = technicalComments|merge([comment]) %}
                        {% else %}
                            {% set comments = comments|merge([comment]) %}
                        {% endif %}
                    {% endfor %}
                    <tr bgcolor="{% if not event.approved %}#fff3d9{% endif %}">
                        <td>{{ event.id }}</td>
                        <td><span class="important {% if event.important %}Yes{% else %}No{% endif %}">{{ event.location.state }} - {{ event.location.name }} - {{ event.name }}</span> <span class="status {{ event.sender.status }}"></span><span class="status important {% if event.important %}Yes{% else %}No{% endif %}"></span></td>
                        <td>beginnt {{ event.startDate|date('d.m.Y') }}
                            <span class="status eventRepeat {% if event.type == 'recurring' %}Yes{% else %}No{% endif %}"></span>
                            <span class="status eventDue {% if event.type != 'recurring' %}Yes{% else %}No{% endif %}"></span></td>
                        <td>
                            <span class="status inspector {% if event.inspector %}Yes{% else %}No{% endif %}"></span>
                            <span class="status inspectorSecond {% if event.secondInspector %}Yes{% else %}No{% endif %}"></span>
                            <span class="status inspectorTechnical {% if event.technicalInspector %}Yes{% else %}No{% endif %}"></span>
                            <span class="status inspectorTechnicalSecond {% if event.secondTechnicalInspector %}Yes{% else %}No{% endif %}"></span>
                            <span class="status comments {% if comments|length > 0 %}Yes{% else %}No{% endif %}"></span>
                            <span class="status commentsTechnical {% if technicalComments|length > 0 %}Yes{% else %}No{% endif %}"></span>
                        </td>
                        <td>
                            <div class="subnav text-right">
                                <a href="{{ path('show_event', { 'id': event.id }) }}"><i class="fi-magnifying-glass"></i></a>
                                <a href="{{ path('manage_event_edit', { 'id': event.id }) }}"><i class="fi-page-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="subnav">
            <a class="button expanded large success" href="{{ path('manage_event_new') }}"><i class="fi-plus"></i> Event erstellen</i></a>
        </div>

        <button type="button" class="button warning float-right small" data-toggle="offCanvasRight">Legende</button>

    </div>
{% endblock %}
