{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block body %}
    <div class="row" id="content">
        <h1><i class="fi-clock"></i> Event erstellen</h1>
        <div class="callout secondary">
            {{ form_start(form) }}
            <div class="row" data-equalizer data-equalize-by-row="true">
                <div class="columns large-9">
                    <div class="card">
                        <div class="card-section" data-equalizer-watch>
                            {{ form_row(form.name) }}
                            {{ form_row(form.regularPrice, {'label':'regulärer Preis'}) }}
                        </div>
                    </div>
                </div>
                <div class="columns large-3">
                    <div class="card">
                        <div class="card-section" data-equalizer-watch>
                            {{ form_row(form.active, {'label':'Aktiv'}) }}
                            {{ form_row(form.important, {'label':'Wichtig'}) }}
                            {{ form_row(form.popup) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-equalizer="event">
                <div class="columns large-3">
                    <div class="card">
                        <div class="card-section sender" data-equalizer-watch="event">
                            <span class="event event--name">
                                {{ form_row(form.sender.name, {'label':'Name'}) }}
                            </span>
                            <span class="event event--date">
                                {{ form_row(form.sender.date, {'label':'Auftragsdatum'}) }}
                            </span>
                            <span class="event event--status">
                                {{ form_row(form.sender.status, {'label':'Status'}) }}
                            </span>
                            <span class="event event--medium">
                                {{ form_row(form.sender.medium, {'label':'Medium'}) }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="columns large-6">
                    <ul class="tabs" data-responsive-accordion-tabs="tabs medium-accordion large-tabs" id="events-tabs">
                        <li class="tabs-title is-active"><a href="#panel1">Locations & Aktionen</a></li>
                        <li class="tabs-title"><a href="#panel2" aria-selected="true">Besonderheiten</a></li>
                        <li class="tabs-title"><a href="#panel3">Beschreibung</a></li>
                        <li class="tabs-title"><a href="#panel4">techn. Beschreibung</a></li>
                    </ul>
                    <div class="tabs-content" data-tabs-content="events-tabs">
                        <div class="tabs-panel is-active" id="panel1">
                            {{ form_row(form.location, {'label':'Location'}) }}
                            <div class="row">
                                <div class="columns large-6">
                                    {{ form_row(form.action, {'label':'Aktion'}) }}
                                </div>
                                <div class="columns large-6">
                                    {{ form_row(form.altAction, {'label':'Einmalige Aktion'}) }}
                                </div>
                            </div>
                            {{ form_row(form.secondAction, {'label':'2. Aktion erforderlich'}) }}
                            {{ form_row(form.technicalAction, {'label':'tech. Aktion'}) }}
                            {{ form_row(form.secondTechnicalAction, {'label':'2. Aktion von Techniker erforderlich'}) }}
                        </div>
                        <div class="tabs-panel" id="panel2">
                            {{ form_row(form.specials, {'label':'Besonderheiten'}) }}
                        </div>
                        <div class="tabs-panel" id="panel3">
                            {{ form_row(form.description, {'label':'Beschreibung'}) }}
                        </div>
                        <div class="tabs-panel" id="panel4">
                            {{ form_row(form.technicalDescription, {'label':'techn. Beschreibung'}) }}
                        </div>
                    </div>
                    <div class="row column">
                        <div class="card">
                            <div class="card-section">
                                {{ form_row(form.regularPrice, {'label':'regulärer Preis'}) }}
                                <div class="documents" data-prototype="{{ form_widget(form.documents.vars.prototype)|e('html_attr') }}">
                                  {% for document in form.documents.children %}
                                    <div class="document">
                                      {{ form_row(document.file) }}
                                    </div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns large-3">
                    <div class="card">
                        <div class="card-section" data-equalizer-watch="event">
                            {{ form_row(form.type, {'label':'Art'}) }}
                            {{ form_row(form.startTime, {'label':'Startzeit'}) }}
                            {{ form_row(form.endTime, {'label':'Endzeit'}) }}
                            {{ form_row(form.startDate, {'label':'Startdatum'}) }}
                            {{ form_row(form.endDate, {'label':'Enddatum'}) }}
                            {{ form_row(form.interval, {'label':'Intervall'}) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_row(form.name) }}
            <div class="subnav button-group">
                <input class="button success" type="submit" value="speichern" />
                <a class="button secondary" href="{{ path('manage_event_index') }}">zurück</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% include 'partials/documents_js.html.twig' %}
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#appbundle_event_name').autocomplete({
        source: '/manage/event/search'
    });
});
</script>
{% endblock %}
