{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column large-12 large-centered" id="content">

        <h1 class="text-center">{{ event.location.state }} - {{ event.location.name }} - {{ event.name }}</h1>

        <div class="row column">

            <!-- <h4 class="subheader">Bereich für Leitstelle</h4> -->
            <div class="callout secondary">
                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_EVENT_CLERK')) and not event.approved %}
                    <div class="callout warning small text-center">
                        {{ form_start(approved_form) }}
                        {{ form_widget(approved_form) }}
                        {{ form_end(approved_form) }}
                    </div>
                {% endif %}

                <div class="callout success small">
                    <h6 class="text-center">
                      {% if event.type == 'recurring' %}
                      Dies ist ein wiederkehrendes Event: alle {{ event.interval.format("%y Jahre, %m Monate und %d Tage") }} bis zum {{ event.endDate|date('d.m.Y') }}
                      {% elseif event.type == 'infoaction' %}
                      Dies ist eine allgemeine Information mit einer Start- und Endaktion: bis zum {{ event.endDate|date('d.m.Y') }}
                      {% else %}
                      Dies ist eine allgemeine Information bis zum {{ event.endDate|date('d.m.Y') }}
                      {% endif %}</h6>
                </div>
                <div class="row" data-equalizer data-equalize-on="medium" id="default-card">
                    <div class="columns large-6">
                        <div class="card" data-equalizer-watch>
                            <div class="card-divider">
                                <h5>Zusammenfassung</h5>
                            </div>
                            <div class="card-section">
                                <h2>{% if event.action is not null %}{{ event.action.name }}{% else %}{{ event.altAction }}{% endif %}</h2>
                                <strong>Beschreibung</strong>
                                <p>{{ event.description|nl2br }}</p>
                                <strong>Besonderheiten</strong>
                                <p>{{ event.specials|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns large-6">
                        <div class="card" data-equalizer-watch>
                            <div class="card-divider">
                                <h5>Status</h5>
                            </div>
                            <div class="card-section">
                                <div class="info row medium-up-3">
                                    <dl class="columns column-block">
                                        <dt>Zeitraum:</dt>
                                        <dd>{{ event.startDate|date("d.m.Y") }} bis {{ event.endDate|date("d.m.Y") }}</dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>Uhrzeit:</dt>
                                        <dd>{{ event.startTime|date("H:i") }} bis {{ event.endTime|date("H:i") }}</dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>regulärer Preis</dt>
                                        <dd>{% if event.regularPrice %}Ja{% else %}Nein{% endif %}</dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>Location:</dt>
                                        <dd>
                                            {{ event.location.name }}<br>
                                            {{ event.location.street }} {{ event.location.houseNumber }}<br>
                                            {{ event.location.zip }} {{ event.location.state }}
                                        </dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>Kontaktdaten für Rückfragen:</dt>
                                        <dd>
                                            {{ event.location.dialingCode }} {{ event.location.phoneNumber }}<br>
                                            {{ event.location.email }}
                                        </dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>Beschreibung der Location:</dt>
                                        <dd>
                                            {{ event.location.description }}
                                        </dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>Auftraggeber:</dt>
                                        <dd>{{ event.sender.name }}</dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>Meldestatus:</dt>
                                        <dd><span class="status {{ event.sender.status }}"></span></dd>
                                    </dl>
                                    <dl class="columns column-block">
                                        <dt>übermittelt per:</dt>
                                        <dd>{{ event.sender.medium }} am {{ event.sender.date|date("d.m.Y") }}</dd>
                                    </dl>
                                </div>
                                <div class="row">
                                    <div class="columns">
                                        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') or is_granted('ROLE_CLERK')) and event.type != 'info' %}
                                            <h6 class="subheader">1. Aktion</h6>
                                            <div class="button-groups">
                                                {{ form_start(inspect_form) }}
                                                {% if event.inspector %}
                                                    {{ form_row(inspect_form.inspected, { 'attr': { 'class': 'success' } }) }}
                                                {% endif %}
                                                {{ form_end(inspect_form) }}
                                            </div>
                                            {% if event.inspector and event.secondAction %}
                                                <h6 class="subheader">2. Aktion</h6>
                                                <div class="button-groups">
                                                    {{ form_start(second_inspect_form) }}
                                                    {% if event.secondInspector %}
                                                        {{ form_row(second_inspect_form.inspected, { 'attr': { 'class': 'success' } }) }}
                                                    {% endif %}
                                                    {{ form_end(second_inspect_form) }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="columns large-6">
                        <div class="card">
                            <div class="card-section">
                                <h6>Event Dateien</h6>
                                {% if event.documents %}
                                <ul class="no-bullet">
                                    {% endif %}
                                    {% for document in event.documents %}
                                        <li><a target="_blank" href="/upload/{{ document.file }}">{{ document.file }}</a></li>
                                    {% endfor %}
                                    {% if event.documents %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="columns large-6">
                        <div class="card">
                            <div class="card-section">
                                <h6>Location Dateien</h6>
                                {% if event.documents %}
                                <ul class="no-bullet">
                                    {% endif %}
                                    {% for document in event.location.documents %}
                                        <a target="_blank" href="/upload/{{ document.file }}">{{ document.file }}</a>
                                    {% endfor %}
                                    {% if event.documents %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="columns {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') or is_granted('ROLE_CLERK') %}large-8{% else %}large-12{% endif %}">
                <div class="card">
                    <div class="card-section">
                        <h4 class="text-center"><i class="fi-comments"></i> Kommentare</h4>
                        <hr>
                        {% for comment in event.comments if not comment.technical %}
                            <dl>
                                <dt>{{ comment.sender.name }}</dt>
                                <dd>
                                    <p>{{ comment.message }}</p>
                                    <p>
                                        <small>{{ comment.creationTime |date("d.m.Y, H:i:s") }}</small>
                                    </p>
                                    <hr>
                                </dd>
                            </dl>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="columns large-4">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') or is_granted('ROLE_CLERK') %}
                    <div class="card">
                        <div class="card-section">
                            <h4 class="text-center"><i class="fi-comment"></i> Kommentar schreiben</h4>
                            <hr>
                            <div>
                                {{ form_start(comment_form) }}
                                {{ form_widget(comment_form.message) }}
                                {{ form_end(comment_form) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="row column">

            <div class="callout">

                <h4 class="subheader">Techniker</h4>
                <div class="row">
                    <div class="column {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') or is_granted('ROLE_CLERK')) and event.type != 'info' %}large-8{% else %}large-12{% endif %}">
                        <div class="card" >
                            <div class="card-section">
                                <h2>{{ (event.technicalAction) ? event.technicalAction.name : 'keine technische Aktion' }}</h2>
                                <strong>Beschreibung für Techniker</strong>
                                <p>{{ event.technicalDescription }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="column large-4">
                        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') or is_granted('ROLE_CLERK')) and event.type != 'info' %}
                            <h6 class="subheader">1. Techniker Aktion</h6>
                            <div class="button-groups">
                                {{ form_start(tech_inspect_form) }}
                                {% if event.technicalInspector %}
                                    {{ form_row(tech_inspect_form.inspected, { 'attr': { 'class': 'success' } }) }}
                                {% endif %}
                                {{ form_end(tech_inspect_form) }}
                            </div>
                            {% if event.technicalInspector and event.secondTechnicalAction %}
                                <h6 class="subheader">2. Techniker Aktion</h6>
                                <div class="button-groups">
                                    {{ form_start(second_tech_inspect_form) }}
                                    {% if event.secondTechnicalInspector %}
                                        {{ form_row(second_tech_inspect_form.inspected, { 'attr': { 'class': 'success' } }) }}
                                    {% endif %}
                                    {{ form_end(second_tech_inspect_form) }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="columns {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') or is_granted('ROLE_CLERK') %}large-8{% else %}large-12{% endif %}">
                    <div class="card">
                        <div class="card-section">
                            <h4 class="text-center"><i class="fi-comments"></i> Kommentare</h4>
                            <hr>
                            {% for comment in event.comments if comment.technical %}
                                <dl>
                                    <dt>{{ comment.sender.name }}</dt>
                                    <dd>
                                        <p>{{ comment.message }}</p>
                                        <p>
                                            <small>{{ comment.creationTime |date("d.m.Y, H:i:s") }}</small>
                                        </p>
                                        <hr>
                                    </dd>
                                </dl>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="columns large-4">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') or is_granted('ROLE_CLERK') %}
                        <div class="card">
                            <div class="card-section">
                                <h4 class="text-center"><i class="fi-comment"></i> Kommentar schreiben</h4>
                                <hr>
                                    {{ form_start(tech_comment_form) }}
                                    {{ form_widget(tech_comment_form.message) }}
                                    {{ form_end(tech_comment_form) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="subnav button-group">
                <a class="button secondary" href="{{ path('calendar') }}">zurück zum Kalender</a>
            </div>
        </div>
    </div>
{% endblock %}
