{% extends 'base.html.twig' %}

{% block body %}
<div class="row column large-6 large-centered" id="content">
    <h1><i class="fi-page-multiple"></i> Location-Gruppe bearbeiten</h1>

    <div class="card">
        <div class="card-section">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="subnav button-group">
                 <input class="button success" type="submit" value="speichern" />
                     {{ form_end(edit_form) }}

                <a class="button secondary" href="{{ path('manage_locationgroup_index') }}">zurück</a>
                {{ form_start(delete_form) }}
                <input class="button alert" type="submit" value="löschen" onclick="return confirm('Wollen Sie diese Locationgruppe wirklich löschen?')">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
