{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column" id="content">
        <h1><i class="fi-page-multiple"></i> Location-Gruppen</h1>

        <table class="overview">
            <!-- <thead>
                <tr>
                    <th class="id">Id</th>
                    <th>Name</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead> -->
            <tbody>
            {% for locationGroup in locationGroups %}
                <tr>
                    <td>{{ locationGroup.id }}</td>
                    <td>{{ locationGroup.name }}</td>
                    <td>
                        <div class="subnav text-right">
                            <a href="{{ path('manage_locationgroup_edit', { 'id': locationGroup.id }) }}"><i class="fi-page-edit"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="subnav">
            <a class="button expanded large success" href="{{ path('manage_locationgroup_new') }}"><i class="fi-plus"></i> Location-Gruppe erstellen</i></a>
        </div>
    </div>
{% endblock %}
