{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column large-6 large-centered" id="content">
        <h1><i class="fi-page-multiple"></i> Location-Gruppe erstellen</h1>

        <div class="card">
            <div class="card-section">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="subnav button-group">
                    <input class="button success" type="submit" value="speichern" />
                    <a class="button secondary" href="{{ path('manage_locationgroup_index') }}">zurück</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
