{% extends 'base.html.twig' %}

{% block body %}
<div id="login" class="row column large-4 large-centered" id="content">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="card">
        <div class="card-divider">
            <h3><i class="fi-lock"></i> Login</h3>
        </div>
        <div class="card-section">
            <form action="{{ path('login') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button class="button success" type="submit">login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
